/* Custom Scrollbar Styles untuk Knowledge Map boxes */

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-green-300::-webkit-scrollbar-thumb {
  background-color: rgb(134 239 172);
  border-radius: 3px;
}

.scrollbar-thumb-yellow-300::-webkit-scrollbar-thumb {
  background-color: rgb(253 224 71);
  border-radius: 3px;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 3px;
}

.dark .scrollbar-thumb-green-700::-webkit-scrollbar-thumb {
  background-color: rgb(21 128 61);
  border-radius: 3px;
}

.dark .scrollbar-thumb-yellow-700::-webkit-scrollbar-thumb {
  background-color: rgb(161 98 7);
  border-radius: 3px;
}

.dark .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
  border-radius: 3px;
}

.scrollbar-thumb-green-300::-webkit-scrollbar-thumb:hover,
.dark .scrollbar-thumb-green-700::-webkit-scrollbar-thumb:hover {
  background-color: rgb(74 222 128);
}

.scrollbar-thumb-yellow-300::-webkit-scrollbar-thumb:hover,
.dark .scrollbar-thumb-yellow-700::-webkit-scrollbar-thumb:hover {
  background-color: rgb(250 204 21);
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb:hover,
.dark .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}
